spring:
  application:
    name: order-service
  datasource:
    url: "${JDBC_DATABASE_URL:jdbc:postgresql://localhost:5435/integrationTestsDB}"
    username: "${JDBC_DATABASE_USERNAME:dbuser}"
    password: "${JDBC_DATABASE_PASSWORD:dbpassword}"
    driver-class-name: org.postgresql.Driver
  flyway:
    url: "${JDBC_DATABASE_URL:jdbc:postgresql://localhost:5435/integrationTestsDB}"
    user: "${JDBC_DATABASE_USERNAME:dbuser}"
    password: "${JDBC_DATABASE_PASSWORD:dbpassword}"
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    open-in-view: false
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://dev-123456.okta.com/oauth2/default # dummy value

api-client:
  notifications:
    url: "https://notification-server.free.beeceptor.com/notifications" # to be overridden with localhost in integration tests
  loyalties:
    url: "https://loyalties-server.free.beeceptor.com/loyalties" # to be overridden with localhost in integration tests

logging:
  level:
    org:
      springframework:
        security: DEBUG